<span class="select-box-block">
    <a class="select-box-control group" href="#">
        <span class="select-box-control-text">Michelle</span>
        <span class="select-box-control-arrow"></span>
    </a><!--select-box-control-wrong select-box-control-right-->
    <span class="select-box-list"> <!--select-box-list-hidden-->
        <span class="select-box-list-item group">
            <span class="select-box-list-item-text">item2</span>
            <span class="select-box-list-item-checkbox"></span>
        </span>
        <span class="select-box-list-item group">
            <span class="select-box-list-item-text">item2</span>
            <span class="select-box-list-item-checkbox"></span>
        </span>
        <span class="select-box-list-item group">
            <span class="select-box-list-item-text">item2</span>
            <span class="select-box-list-item-checkbox"></span>
        </span>
        <span class="select-box-list-item group select-box-list-item">
            <span class="select-box-list-item-text">item2</span>
            <span class="select-box-list-item-checkbox select-box-list-item-checkbox-checked"></span>
        </span><!--select-box-list-item-checked, select-box-list-item-focus-->
    </span>
</span>